@import "tailwindcss";

body {
  background: white;
  color: #171717;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Добавь это в слой utilities или просто в конец файла */
@layer utilities {
  .animate-gradient {
    animation: gradient 4s ease infinite;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}